



<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t('sessions.placeholder.email'), value: params[:email_address], class: "form-control" %><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t('sessions.placeholder.password'), maxlength: 72, class: "form-control"%><br>
  <div class="d-grid gap-2">
  <%= form.submit t('sessions.submit.sign_in'), class: "btn btn-primary" %>
</div>

<% end %>
<br>

<%= link_to t('sessions.link.forgot_password'), new_password_path %>
