<h1><%= t( "todoHeading" )%></h1>
<div>
  <%= link_to t("app.index.new"), new_todo_path if authenticated? %>
</div>
<h1><%= t "app.index.todoList" %></h1>
<div>
  <ul class="todo-list">
    <% @todos.each do |todo| %>
      <li>
        <a class="list-grouplist-group-item" href="/todo/<%= todo.id %>"><%= todo.title %>
      </a>
    </li>
    <% end %>
  </ul>
</div>
